<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home ML</title>
    <script
      src="https://kit.fontawesome.com/2086e27e93.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
     <div class="container__logo">
        <div class="logo">
          <img src="/images/logo-mercado-liebre.svg" alt="" />
        </div>
        <div class="busqueda">
          <input class="buscar" placeholder="Busca productos, marcas" type="search" />
          <button><i class="fas fa-search"></i></button>
        </div>
       
     </div>
      <p class="compraCuotas">
        <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
        tarjeta de crédito
      </p>

      <nav>
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="register.html">Créa tu cuenta <i class="fa-solid fa-id-card"></i></a>
          </li>
          <li>
            <a href="#">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a>
          </li>
          <li>
            <a href="#"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main>
      <article class="banner">
        <img src="/images/img-home-banner.jpg" alt="" />
      </article>
      <div class="body__main">
        <h2 class="titular">Basado en tu última visita</h2>
        <section class="cards">
          <article class="card">
            <div class="img__article">
              <img
                class="img_article--imgProduct"
                src="/images/img-cafetera-moulinex.jpg"
                alt=""
              />
            </div>
            <div class="detalle">
              <div>
                <i class="fa-solid fa-truck"></i>
              </div>
              <div>
                <p class="precio">$6770<span class="descuento">40%OFF</span></p>
              </div>
              <h4 class="producto">Cafetera Moulinex</h4>
            </div>
          </article>
          <article class="card">
            <div class="img__article">
              <img
                class="img_article--imgProduct"
                src="/images/img-macbook-pro-2019.jpg"
                alt=""
              />
            </div>
            <div class="detalle">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$230.000</p>
              <span class="descuento">20% off</span>
              <h4 class="producto">MacBook Pro 2019</h4>
            </div>
          </article>
          <article class="card">
            <div class="img__article">
              <img
                src="/images/img-samsung-galaxy-s10.jpg"
                class="img_article--imgProduct"
                alt=""
              />
            </div>
            <div class="detalle">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$70.500</p>
              <span class="descuento">10% off</span>
              <h4 class="producto">Samsung Galaxy S10</h4>
            </div>
          </article>
          <article class="card">
            <div class="img__article">
              <img
                class="img_article--imgProduct"
                src="/images/img-tv-samsung-smart.jpg"
                alt=""
              />
            </div>
            <div class="detalle">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$23.200</p>
              <span class="descuento">5% off</span>
              <h4 class="producto">SmartTv Samsung 43"</h4>
            </div>
          </article>
        </section>

        <section class=" ofertas">
          <h2 class="titular">Ofertas</h2>
          <section class="cards">
            <article class="card">
              <div class="img__article">
                <img
                  class="img_article--imgProduct"
                  src="/images/img-cafetera-moulinex.jpg"
                  alt=""
                />
              </div>
              <div class="detalle">
                <div>
                  <i class="fa-solid fa-truck"></i>
                </div>
                <div>
                  <p class="precio">$6770<span class="descuento">40%OFF</span></p>
                </div>
                <h4 class="producto">Cafetera Moulinex</h4>
              </div>
            </article>
            <article class="card">
              <div class="img__article">
                <img
                  class="img_article--imgProduct"
                  src="/images/img-macbook-pro-2019.jpg"
                  alt=""
                />
              </div>
              <div class="detalle">
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$230.000</p>
                <span class="descuento">20% off</span>
                <h4 class="producto">MacBook Pro 2019</h4>
              </div>
            </article>
            <article class="card">
              <div class="img__article">
                <img
                  src="/images/img-samsung-galaxy-s10.jpg"
                  class="img_article--imgProduct"
                  alt=""
                />
              </div>
              <div class="detalle">
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$70.500</p>
                <span class="descuento">10% off</span>
                <h4 class="producto">Samsung Galaxy S10</h4>
              </div>
            </article>
            <article class="card">
              <div class="img__article">
                <img
                  class="img_article--imgProduct"
                  src="/images/img-tv-samsung-smart.jpg"
                  alt=""
                />
              </div>
              <div class="detalle">
                <i class="fa-solid fa-truck"></i>
                <p class="precio">$23.200</p>
                <span class="descuento">5% off</span>
                <h4 class="producto">SmartTv Samsung 43"</h4>
              </div>
            </article>
          </section>
      </div>
    </main>

    <footer>
      <section>
        <i class="fa-solid fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <i class="fa-solid fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <section class="copy">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
    <script src="/app.js"></script>
  </body>
</html>
