@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --Amarillo: #eac926;
  --Azul: #03264c;
  --Celeste: #1259c3;
  --Gris-oscuro: #666;
  --Gris-claro: #ebebeb;
  --Verde: #39b54a;
  --body-font: "Roboto";
  --body-text: 12px;
  --titular: 24px;
  --precio: 18px;
  --descuentoDescripciones: 16px;
  
}